* {
    font-family: 'Raleway', sans-serif;
}

#main {
    width: 960px;
}

h1, h2,h3,p,.menuCarta  {
    color: #5c5c5c;
}

main {
    overflow: hidden;
}

header {
    /*background-color: aqua;*/
    border-bottom: 1px solid #979797;
    padding-bottom: 20px;
    margin-left: 15px;
    padding: 10px;
}

nav {
    /*background-color: burlywood;*/
    /*width: 300px;*/
    width: 20%;
    box-sizing: border-box;
}

nav, article {
    padding: 15px;
}

main {
    margin-top: 30px;
}

#carta {
    border-left: 1px solid #979797;
}

.class-left {
    float: left;
}

.class-right {
    float: right;
}

article {
  /*background-color: coral;*/
  /*width: 610px;*/
  width: 80%;
  box-sizing: border-box;
}

footer {
    background-color: #d8d8d8;
    overflow: hidden;
    padding: 20px;
}

#links {
    float: right;
    margin-right: 30px;
}

.linkEnlaces{
    list-style:none;
    font-weight: bold;
}

.menuCarta {
    line-height: 30px;
    text-decoration: none;
}

.subrayado {
    text-decoration: none;
    color: white;
}

a:link, a:visited, a:hover{
    text-decoration: none;
}

.tipoMenu {
    padding-left: 20px;
}
.textPlato {
    padding-left: 40px;
}

ul {
    padding-inline-start: 0px;
}

section {
    overflow: hidden;
}

#imgPlato {
    border: 3px solid #e6e6e6;
}

.botonForm {
    background-color: #E0A700;
    color: white;
}

textarea {
    resize: none;
}

.pregunta {
    font-weight: bold;
    color: black;
    font-size: 18px;
}

#formContacto,#title {
    margin-left: 300px;
    margin-right: 300px;
    padding-left: 30px;
    padding-right: 30px;
}

#formContacto {
    border: 2px solid #E0A700;
    padding-bottom: 30px;
}


#contacto {
    justify-content: center;
    align-items: center;
}

#title {
    text-align: center;
}

.botonForm {
    width: 300px;
    height: 30px;
    font-weight: bold;
    border-radius: 10px 10px 10px 10px;
}

.botonForm:hover {
    background-color: white;
    color: #E0A700;
    border: 1px solid #E0A700;
}
